body{
    background-color: #fffaff;
    margin: 10px;
    padding: 20px;
}
#file {
    display: none;
}

label{
    color: #0d0d0d;
    height: 60px;
    width: 250px;
    background-color: #fbe722;
    position: absolute;
    margin: auto;
    
    left: 0;
    right: 0;
    font-size:20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat",sans-serif;
    cursor: pointer;
}
#canvas{
    width: 500px;
    height: 400px;
    border: 1px solid blanchedalmond;
    background-color: blanchedalmond;
    left: 0;
    right: 0;

}
#button{
    color: #0d0d0d;
    border: 1px solid #fbe722;
    border-radius: 5px;
    height: 60px;
    width: 250px;
    padding: 5px;
    background-color: #fbe722;
    position: absolute;
    margin: auto;
    font-size:20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    
}
@media all and (max-width:699px) and (min-width:360px){
    #canvas{
        width: 300px;
        height: 200px;
        border: 1px solid blanchedalmond;
        background-color: blanchedalmond;
        left: 0;
        right: 0;
    
    }
    
    label{
        padding: .1em .1em ;
        border-radius: 3px;
        margin: 4px 4px 4px 4px;
        color: #fbdedb;
        background-color: #fbdedb;
        display: inline-block;
        background: #e74c3c;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        font-family: sans-serif;
        font-weight: 800;
        font-size: .85em;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
        position: relative;
    }
    #button
    {
        padding: 1em 2.1em 1.1em;
        border-radius: 3px;
        margin: 8px 8px 8px 8px;
        color: #fbdedb;
        background-color: #fbdedb;
        display: inline-block;
        background: #e74c3c;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        font-family: sans-serif;
        font-weight: 800;
        font-size: .85em;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
        position: relative;





    } 
}